= javascript_include_tag "contentflow_src"
= javascript_include_tag "jewels"
- if can? :update, Jewel
  = link_to new_jewel_path, class: 'btn btn-success' do
    %i.icon-plus.icon-white
    = t(:new_jewel)

.ContentFlow
  .loadIndicator
    .indicator
  .flow
    -@jewels.each do |jewel|
      =image_tag jewel.primary_image.url, class: "content", class: 'item', 
        title: jewel.name, :data => {:id => jewel.id}
  .globalCaption
    .slider
      .position       

